<footer class="bg-light text-center text-lg-start fixed-bottom" style="position: relative;">
  <div class="container pt-4">
    <section class="mb-4 text-center">
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.facebook.com/quadrangularvlmara"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa fa-facebook"></i
      ></a>
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa fa-twitter"></i
      ></a>
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa fa-google"></i
      ></a>
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.instagram.com/quadrangular_vilamara/"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa fa-instagram"></i
      ></a>
    </section>
  </div>

  <div class="text-center p-3" style="background-color:cornflowerblue;">
    <small class="text"  style="color:#fff;">© IEQ Vila Mara 2021</small>
  </div>
</footer>
